.ListOfNews {
	display: grid;
	grid-template-columns: repeat(1, 100%);
	justify-content: space-between;
	grid-gap: 15px;
	justify-content: center;
	border-bottom: 3px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
}

@media (min-width: 700px) {
	.ListOfNews {
		font-size: 1em;
		grid-template-columns: repeat(2, 50%);
	}
}

@media (min-width: 1100px) {
	.ListOfNews {
		font-size: 1em;
		grid-template-columns: repeat(3, 33%);
	}
}

@media (min-width: 1400px) {
	.ListOfNews {
		font-size: 1em;
		grid-template-columns: repeat(4, 25%);
	}
}
